html{
    background-color: rgb(204, 204, 204);
}
body{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border: 1px rgb(255, 255, 255) solid;
    background-color: white;
    text-align: justify;
}
h1{
    text-align: center;
}
#parque{
    color: green;
}
#nombre{
    color: goldenrod;
}
a{
    text-decoration: none;
    color: rgb(68, 65, 65);
}
ul{
    list-style-type: none;
    float: left;
    width: 100px;
}
li{
    border: 1px black solid;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
    background-image: url(../imagenes/menu_normal.png);
}
li:hover{
    border-color: #9F9F9F;
    background-color: #cfbaa2;
}
li:hover a {
    color: black;
}
li.activo, li.activo:hover{
    background-color: white;
    background-image: url(../imagenes/menu_activa.png);
}
li.activo a, li.activo:hover a{
    color: black;
}
#contenido{
    border: 1px black solid;
    margin-left: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
}
h2{
    margin: 20px;
    color: rgb(140, 207, 39);
    border-bottom: 1px black solid;
}
h3{
    margin: 20px;
    color: goldenrod;
}
p{
    margin: 20px;
}
#derechosImg{
    text-align: center;
    color: grey;
}