h1{
    text-align: center;
}
#parque{
    color: green;
}
#nombre{
    color: goldenrod;
}
div{
    border: 1px black solid;
    margin-left: 10px;
}
p{
    margin: 10px;
}
h2{
    margin: 10px;
    color: rgb(140, 207, 39);
}
h3{
    margin: 10px;
    color: goldenrod;
}